body {
    margin: 10px 150px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

a:link, a:visited {
    color: black;
    text-decoration: none;
}

nav.navigationBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    color: black;
    gap: 10px;
}
 
.logo {
    width: 162px;
    height: 35px;
}

.leftSide {
    display: flex;
    gap: 10px;
}

.linksL {
    margin-top: 10px;
}

.rightSide {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.icons {
    width: 20px;
    height: 20px;
}

.mainAdvert {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}

.advertLeft {
    background-color: rgb(224, 100, 125);
    height: 648px;
    min-width: 420px;
    font-size: larger;
}

.advertLeftText {
    display: flex;
    flex-direction: column;
    padding: 200px 100px;
}

.advertLeftBottom {
    font-size: 15px;
}

.advertButton {
    background-color: crimson;
    width: 65px;
    height: 25px;
    border-radius: 5px;
}

.advertButton:hover {
    background-color: rgb(172, 15, 47);
}

.advertRight {
    width: 1080px;
}

.toBuyAdvert {
    display: flex;
    justify-content: center;
    margin: 70px 0px;
    gap: 45px;
}

.toBuyAdvertSub {
    flex-direction: column;
    display: flex;
    gap: 10px;
    align-items: center;
}

.toBuyAdvertImg {
    width: 55px;
}

.toBuyAdvertText:visited {
    color: crimson;
}

.toBuyAdvertText:hover {
    color: rgb(172, 15, 47);
}

.miniAdvert {
    display: flex;
    justify-content: space-between;
    gap: 15px;    
}

.miniAdvertItem {
    width: 380px;
}

.miniAdvertImg {

}

.miniAdvertHeader {

}

.miniAdvertText {

}

.miniAdvertLink:visited {
    color: crimson;
}

.miniAdvertLink:hover {
    color: rgb(172, 15, 47);
}