body {
    margin: 10px 150px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

footer {
    background-color: #f3f3f3;
}
a:link, a:visited {
    color: black;
    text-decoration: none;
}

nav.navigationBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    color: black;
    gap: 10px;
}
 
.logo {
    width: 162px;
    height: 35px;
}

.leftSide {
    display: flex;
    gap: 10px;
}

.linksL {
    margin-top: 10px;
}

.rightSide {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.icons {
    width: 20px;
    height: 20px;
}

.mainAdvert {
    display: flex;
    flex-direction: row;
    margin-top: 45px;
}

.advertLeft {
    background-color: rgb(224, 100, 125);
    height: 648px;
    min-width: 420px;
    font-size: larger;
}

.advertLeftText {
    display: flex;
    flex-direction: column;
    padding: 200px 100px;
}

.advertLeftBottom {
    font-size: 15px;
}

.advertButton {
    background-color: crimson;
    width: 95px;
    height: 35px;
    border-radius: 5px;
    font-size: large;
}

.advertButton:hover {
    background-color: rgb(172, 15, 47);
}

.advertRight {
    width: 1080px;
}

.toBuyAdvert {
    display: flex;
    justify-content: center;
    margin: 70px 0px;
    gap: 45px;
}

.toBuyAdvertSub {
    flex-direction: column;
    display: flex;
    gap: 10px;
    align-items: center;
}

.toBuyAdvertImg {
    width: 55px;
}

.toBuyAdvertText:visited {
    color: crimson;
}

.toBuyAdvertText:hover {
    color: rgb(172, 15, 47);
}

.miniAdvert {
    display: flex;
    justify-content: space-between;
    gap: 15px;    
}

.miniAdvertItem {
    width: 380px;
}

.miniAdvertImg {

}

.miniAdvertHeader {

}

.miniAdvertText {

}

.miniAdvertLink:visited {
    color: crimson;
}

.miniAdvertLink:hover {
    color: rgb(172, 15, 47);
}

.secondAdvert {
    display: flex;
    flex-direction: row;
    margin: 70px 0px;
}

.secondAdvertLeft {
    background-color: #e7e7e7;
    height: 599px;
    min-width: 830px;
    font-size: larger;
}
.secondAdvertText {
    display: flex;
    flex-direction: column;
    padding: 200px 100px;
}

.secondAdvertRight {
    width: 1080px;
}

.secondAdvertImg {
    
}

.secondAdvertButton {
    background-color: #b7b7b7;
    width: 160px;
    height: 40px;
    border-radius: 5px;
    font-size: large;
}

.secondAdvertButton:hover {
    background-color: #808080;
}

.socials {
    margin: 35px 0px;
    display: flex;
}

.socialsText {
    font-size: large;

}

.socialsIcons {
    width: 30px;
    height: 30px;
    margin: 13px;
}

.goToTheTop {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 35px;
}

.goToTheTopButton {
    width: 150px;
    height: 50px;
    border-radius: 5px;
    font-size: larger;
    background-color: #bcbcbc;
}

.goToTheTopButton:hover {
    background-color: #fafafa;
    border-color: #e7e7e7;
}

.footerContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footerLinks {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: small;
}

.siteEssentials {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size:x-small;
    margin-top: 20px;
}